{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


<!-- FontA wesome-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<title>WHAT?!</title>

<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Bad+Script|Quicksand' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>

<!--CSS-files-->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

{% block content %}
  <head>
  </head>
  <body>
  <div id="head">
  <a href="index.html" class="welcome">Welcome {{ user }}!</a></li>
    <ul>
      <li><a href="{% url 'Alerter:index' %}">Home</a></li>
      <li><a href="{% url 'Alerter:addTask' %}">Add task</a></li>
      <li><a href="{% url 'Alerter:index' %}">Trello</a></li>
      <li><a href="{% url 'Alerter:index' %}">My page</a></li>
    </ul>
  </div>
      <div class="container">
        <div id="cardContainer">
          <div id="addButton"><a href="{% url 'Alerter:addTask' %}">What do you need to get done?<i class="fa fa-pencil"></i></a></div>
        
          <form method='POST' action='/deleted'>      
            {% for task in tasks %}
            {% if task.student == user %}
              <div class="card">
                <div class="title">
                    <i class="fa fa-cog"></i><a href="{% url 'Alerter:delete_new' id=task.id %}" class="btn"><i class="fa fa-check"></i></a>
                </div>
                <div class="innerCard">{{ task }}
                </div>
              </div>
            {% endif %}
            {% endfor %} 
          </form>
        </div>
      </div>
  </body>
{% endblock %}
</html>
