{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


<!-- FontAwesome-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<title>WHAT?!</title>

<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Bad+Script|Quicksand' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed|Noto+Sans&subset=greek,latin' rel='stylesheet' type='text/css'>

<!--CSS-files-->
<link rel="stylesheet" href="{% static 'css/styleLogin.css' %}">
</head>
{# {% extends "website-base.html" %} #}
{% block main %}
    <div id="login">
        <div id="loginBlock">
            <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            {% if form.errors %}
                {{form.errors}}
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username"  placeholder="Username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn" id="loginButton">Login</button>
                </div>

                <div class="login-block" ng-cloak>
                  <div id="status">{{$rootScope.user}}</div>
                  <button id="loginBtn" class="login" ng-click="loginFB()">Log In</button>
                  <button id="logoutBtn" class="login" ng-click="logoutFB()">Log Out</button>
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
</html>